@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: black;
}

.wrapper {
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* Header Paralax Styling START*/

header {
    position:relative;
    display: flex;
    align-items:center;
    height: 100%;
    transform-style:preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.logo {
    transform: translateZ(-2px) scale(1);
}

.background,
.foreground,
.logo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.logo {
    object-fit: contain;
}

section {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 3rem;
    background-color: #161616;
    color: white;
}

/* Header Paralax Styling END*/

section>h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28pt;
}

section>p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    padding-left: 20%;
    padding-right: 20%;
}

section.odd{
    background-color: white;
    padding: 20px 20px 20px 20px;
    color: black;
}

section.odd>h1{
    color: #161616;
    font-size: 24pt;
}

hr{
    padding: 0;
}

.slideshow {
    height: 180px;
    display: block;
    max-width: 535px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.imagemask{
    position: absolute;
    top: 0;
    left: 0;
    height: 180px;
    width: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%);
}

.images {
    background: url(images/partners.png);
    position: absolute;
    background-size: contain;
    background-repeat: repeat-x;
    left: -200%;
    top: 0;
    height: 140px;
    width: 300%;
    animation: slideshow 10s linear infinite;
}

section.footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-bottom {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#workDiv{
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: auto;
    gap: 1rem;
    width: calc(90%);
}

.page-bottom>p>a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    color:white;
    text-decoration: none;
}

.thumbnailLink{
    width: 100%;
    text-align: center;
}

.thumbnail{
    width: 100%;
    transition: 300ms ease;
    filter: saturate(.35);
    filter: contrast(.8);
    box-shadow: 0px 0px 0px rgb(0, 0, 0);

}

.thumbnail:hover{
    transform: scale(1.02);
    transition: 300ms ease;
    filter: saturate(1);
    filter: contrast(1);

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.vimeo {
    display: flex;
    padding:0 0 0 0;
    position:relative;
    width: 100%;
    justify-content: center;
}

.footerlogo {
    width: 40%;
}

  @keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -200%; }
  }

  @media only screen and (max-width: 600px) {
    section.footer{
        padding: 10% 0 10%;
    }
    .page-bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #workDiv{
    grid-template-columns: 100%;
    width: 100%;

    }

    section>p{
        padding: 0;
    }
    
    .page-bottom>p>a{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 8pt;
        
        color:white;
        text-decoration: none;
    }
  }

  @media only screen and (max-width: 850px) {
    section>p{
        padding: 0;
    }
  }